h4{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}

button{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.register{
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
    text-align: center;
}

.container{
    text-align: center;
    align-items: center;
    background-color: inherit;
    font-family: 'Boogaloo', cursive;
}

form{
    font-weight: bolder;
}

h3{
    margin-left: 6em;
    margin-right: 6em;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}



@media only screen and (max-device-width: 992px){
    body {
        font-size: 48px!important;
    }
    .container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

    }

    h2{
        font-size: 1.3em!important;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }

    btn btn-success{
        box-sizing: border-box;
    }

    btn btn-info{
        box-sizing: border-box;
    }

    .navbar-nav{
        font-size: 0.7em!important;
    }
}



