h4{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}

button{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.register{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.container{
    text-align: center;
    align-items: center;
    background-color: inherit;
    font-family: 'Boogaloo', cursive;
}

form{
    font-weight: bolder;
}

h4{
    font-weight: bolder;
}

@media only screen and (max-device-width: 992px){
    body {
        font-size: 4em!important;
    }
    .container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

    }

    h2{
        font-size: 1.3em!important;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }

    btn btn-success{
        box-sizing: border-box;
    }

    btn btn-info{
        box-sizing: border-box;
    }

    .navbar-nav{
        font-size: 0.7em!important;
    }
}



